<h2>Mantenimiento de productos</h2>

<mat-card class="header-title mat-elevation-z2">
  <div class="inline">

    <lib-common-search (filter)="applyFilter($event)"></lib-common-search>

  </div>

</mat-card>

<div class="block-container mat-elevation-z2">

  <lib-loader></lib-loader>

  <div class="block-table-container">
    <table [dataSource]="dataSource" class="" mat-table
           matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> #</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="poster">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let element">
          <a [href]="element.image ? element.image : '/assets/images/default.png'" target="_blank">
            <img class="image" [src]="element.image ? element.image : '/assets/images/default.png'">
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="poster_detail">
        <th mat-header-cell *matHeaderCellDef> Imagen Detalle</th>
        <td mat-cell *matCellDef="let element">
          <a [href]="element.imageDetail ? element.imageDetail : '/assets/images/default-detail.png'" target="_blank">
            <img class="image" [src]="element.imageDetail ? element.imageDetail : '/assets/images/default-detail.png'">
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th *matHeaderCellDef mat-header-cell> Codigo</th>
        <td *matCellDef="let element" mat-cell> {{element.code }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Nombre</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell> Categoria</th>
        <td *matCellDef="let element" mat-cell> {{element.category.name}} </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th *matHeaderCellDef mat-header-cell> Marca</th>
        <td *matCellDef="let element" mat-cell> {{element.brand.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Precio</th>
        <td *matCellDef="let element" mat-cell> {{element.price | currency: 'S/ '}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> Accion</th>
        <td *matCellDef="let element" mat-cell>
          <button [routerLink]="['/admin/productos', element.id]" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

</div>
