<mat-nav-list>
  <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    *ngFor="let option of menu"
    [routerLink]="option.path">
    <mat-icon mat-list-icon>{{ option.icon }}</mat-icon>
    <h4 mat-line>{{ option.title }}</h4>
  </mat-list-item>
</mat-nav-list>

