.mat-nav-list>.active {
  color: rgba(0,0,0,.90);
  background: #dcdcdc;

  h4 {
    font-weight: 500;
    color: #3f51b5;
  }

  mat-icon {
    color: #3f51b5;
  }
}

.mat-list-item {
  color: rgba(0,0,0,.55);
  background: transparent;
}
