<lib-loader></lib-loader>

<div class="auth-form">
  <form [formGroup]="authForm" (ngSubmit)="signIn()" >
    <mat-card>
      <mat-card-content>
        <mat-card-title>Administracion</mat-card-title>

        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input formControlName="username" matInput placeholder="Ingrese su usuario">
          <mat-error *ngIf="usernameField.hasError('required')" >
            Este campo es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input [type]="showPassword ? 'text' : 'password'"
                 formControlName="password" matInput placeholder="Ingrese su contraseña">

          <button type="button" mat-icon-button matSuffix
                  (click)="showPassword = !showPassword">
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="passwordField.hasError('passwordStrong')" >
            {{ passwordField.errors.passwordStrong }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>

        <button type="button" mat-raised-button routerLink="/">Cancelar</button>
        <span class="space-center"></span>
        <button type="submit" [disabled]="authForm.invalid" mat-raised-button color="primary">Ingresar</button>


      </mat-card-actions>
    </mat-card>
  </form>
</div>

