.dashboard-content {
  display: flex;

  .mat-card {
    flex: 1;
    padding: 35px;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }

  .content-flex {
    display: flex;
    align-items: center;
    justify-content: center;

    .indicator {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }

    .flex-1 {
      flex: 1;

      .mat-card-subtitle {
        margin-bottom: 0;
      }
    }
  }
}
