<h2>Dashboard</h2>

<div class="dashboard-content">

  <lib-loader></lib-loader>

  <mat-card class="mat-elevation-z2">

    <mat-card-content>
      <div class="content-flex">
        <div class="flex-1 indicator">
          {{dashboard.products}}
        </div>
        <div class="flex-1">
          <mat-card-title>Productos</mat-card-title>
          <mat-card-subtitle>Productos registrados</mat-card-subtitle>
        </div>
      </div>
    </mat-card-content>

  </mat-card>

  <mat-card class="mat-elevation-z2">

    <mat-card-content>
      <div class="content-flex">
        <div class="flex-1 indicator">
          {{dashboard.categories}}
        </div>
        <div class="flex-1">
          <mat-card-title>Categorias</mat-card-title>
          <mat-card-subtitle>Categorias registradas</mat-card-subtitle>
        </div>
      </div>
    </mat-card-content>

  </mat-card>

  <mat-card class="mat-elevation-z2">

    <mat-card-content>
      <div class="content-flex">
        <div class="flex-1 indicator">
          {{dashboard.brands}}
        </div>
        <div class="flex-1">
          <mat-card-title>Marcas</mat-card-title>
          <mat-card-subtitle>Marcas registradas</mat-card-subtitle>
        </div>
      </div>
    </mat-card-content>

  </mat-card>


</div>
