.block-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-exception {
  color: #fff;
  max-width: 360px;
  text-align: center;
  background-color: #980000;
  padding: 10px;
}
