.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
}

.mat-sidenav-content {
  padding: 14px;
}

.mat-sidenav {
  min-width: 250px;
}


.mat-sidenav-container {
  flex: 1;
}
