<div class="container">

  <app-admin-header (event)="sidenavAction()"></app-admin-header>

  <mat-sidenav-container>

    <mat-sidenav mode="side" [(opened)]="opened">
      <app-admin-sidebar [menu]="menuOptions"></app-admin-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

