<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenavAction()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="header-title-main">Productos Admin</span>

  <button mat-button (click)="logout()">Logout</button>

</mat-toolbar>
