<h2>Mantenimiento de marcas</h2>

<mat-card class="header-title mat-elevation-z2">
  <div class="inline">

    <lib-common-search (filter)="applyFilter($event)"></lib-common-search>

  </div>
  <div class="inline pull-right">
    <div class="vertical">
      <button (click)="openForm()" mat-mini-fab color="primary">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>

  </div>
</mat-card>


<div class="block-container mat-elevation-z2">

  <lib-loader></lib-loader>

  <div class="block-table-container">
    <table [dataSource]="dataSource" class="" mat-table
           matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> #</th>
        <td *matCellDef="let element" mat-cell> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Nombre</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Descripcion</th>
        <td *matCellDef="let element" mat-cell> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="slug">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Slug</th>
        <td *matCellDef="let element" mat-cell> {{element.slug }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell> Accion</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="openForm(element)" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

</div>
