<h3>{{ data.category ? ('Actualizar categoria #' + data.category.id) : 'Nueva categoria' }}</h3>

<form [formGroup]="form" (ngSubmit)="save()" >
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input formControlName="name" matInput>
    <mat-error *ngIf="name.hasError('required')" >
      Este campo es requerido
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Slug</mat-label>
    <input formControlName="slug" matInput>
    <mat-error *ngIf="slug.hasError('required')" >
      Este campo es requerido
    </mat-error>
  </mat-form-field>

  <div class="buttons-content">
    <button type="button" mat-raised-button (click)="cancel()">Cancelar</button>
    <span class="space-center"></span>
    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Guardar</button>
  </div>
</form>

