<lib-loader></lib-loader>
<h3>Carga de imagenes</h3>

<div class="upload-container">

<form [formGroup]="form" (ngSubmit)="save()" >
  <button mat-stroked-button class="btnUpload" (click)="InputFile.click()">
    {{ fileField.value ? fileField.value?.name : 'Selecciona un archivo' }}
    <mat-icon slot="end">search</mat-icon>
  </button>

  <div class="errorUpload" *ngIf="fileField.hasError('validExtension')" >
    {{ fileField.errors.validExtension }}
  </div>

  <input type="file" hidden #InputFile (change)="onFileChange($event)">

  <div>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Guardar
    <mat-icon slot="end">cloud_upload</mat-icon>
  </button>
  </div>
</form>

</div>
