.upload-container {
  max-height: 420px;
  overflow: auto;
  text-align: center;
}

.btnUpload {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.errorUpload {
  margin-bottom: 20px;
  color: red;
}
