<div class="container">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenavAction()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="header-title-main">Productos</span>

    <button mat-button routerLink="/admin">Administracion</button>

  </mat-toolbar>

  <mat-drawer-container class="products-container" hasBackdrop="true">

    <mat-drawer #drawer mode="over" position="end">

      <app-catalog-detail #catalogDetail></app-catalog-detail>

    </mat-drawer>

    <mat-drawer-content>

      <mat-sidenav-container>

        <mat-sidenav mode="side" [(opened)]="opened">

          <lib-loader #loaderSidebar></lib-loader>

          <mat-list>
            <h3 mat-subheader>Categorias</h3>

            <mat-divider></mat-divider>

            <mat-selection-list #list>
              <mat-list-option selected disabled="true" #optionAll (click)="changeAll(list, optionAll)">
                Todos
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option *ngFor="let category of categories" [value]="category"
                               (click)="changeCategories(list, optionAll)">
                {{category.name}}
              </mat-list-option>
            </mat-selection-list>

          </mat-list>

        </mat-sidenav>

        <mat-sidenav-content>
          <!--BODY-->
          <lib-loader #loaderCatalog></lib-loader>

          <div class="product-controls" style="flex: 1">
            <div>
              <lib-common-search (filter)="applyFilter($event)"></lib-common-search>
            </div>
            <div>
              <mat-paginator [length]="resultsLength" [pageSizeOptions]="[12, 24, 48]"
                             showFirstLastButtons></mat-paginator>
            </div>

          </div>

          <div class="catalog-content">

            <div class="catalog-item" *ngFor="let product of products">
              <mat-card (click)="loadDetail(drawer, product)">

                <div>
                  <img mat-card-image [src]="product.image ? product.image : '/assets/images/default.png'"
                       [alt]="product.name">
                  <span class="price">{{product.price | currency: 'S/ '}}</span>
                </div>
                <mat-card-header>
                  <mat-card-subtitle class="code">{{product.code}}</mat-card-subtitle>
                  <mat-card-title class="title">{{product.name}}</mat-card-title>
                  <mat-card-subtitle>Marca: {{product.brand.name}}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>

          </div>

        </mat-sidenav-content>

      </mat-sidenav-container>

    </mat-drawer-content>
  </mat-drawer-container>
</div>

