.header-title-main {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 1;
}

.mat-sidenav-content {
  //padding: 14px;
}

.mat-sidenav {
  min-width: 250px;
}

.mat-sidenav-container {
  flex: 1;
  min-width: 100%
}

.mat-selection-list {
  padding-top: 0;
}

.catalog-content {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 15px 50px 15px;

  .catalog-item {
    flex-grow: 1;
    flex-basis: 304px;
    margin: 10px;
    max-width: 304px;
    display: flex;
    flex-direction: row;

    .mat-card {
      cursor: pointer;
    }

    .price {
      position: relative;
      z-index: 1;
      bottom: 40px;
      background-color: #980000;
      color: white;
      border-radius: 45px;
      padding: 10px 20px;
      float: right;
    }

    .title {
      font-size: 16px;
    }

    .code {
      font-size: 12px;
    }
  }
}

.product-controls {
  padding: 15px;
  display: flex;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  border-bottom: 1px #b0b0b0 solid;

  div {
    flex: 1;

    .mat-paginator {
      margin-top: 6px;
    }
  }
}

.products-container {
  width: 100%;
  height: 100%;

  mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}


