<lib-loader></lib-loader>

<h3>{{data.title}}</h3>

<div class="list-container">

  <lib-common-search (filter)="applyFilter($event)"></lib-common-search>

  <table [dataSource]="dataSource" class="" mat-table
         matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> #</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Nombre</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row (click)="selectItem(row)" class="element-row"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

