<div class="content-detail" *ngIf="productModel">
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>{{productModel.name}}</mat-card-title>
      <mat-card-subtitle>Marca: {{productModel.brand.name}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image
         [src]="productModel.imageDetail ? productModel.imageDetail : '/assets/images/default-detail.png'"
         [alt]="productModel.name">

    <span class="price">{{productModel.price | currency: 'S/ '}}</span>

    <mat-card-content>
      <div>
        <h4>Descripcion</h4>
        <p>
          {{productModel.description}}
        </p>
      </div>
      <mat-divider></mat-divider>

      <div class="content-specification">
        <h4>Especificaciones</h4>
        <ul>
          <li *ngFor="let especification of productModel.specifications">
            <span>{{especification.title}}:</span> {{especification.description}}</li>
        </ul>
      </div>
    </mat-card-content>

  </mat-card>

  <mat-card class="mat-elevation-z0 actions">
    <mat-card-actions>
      <button mat-fab type="button" (click)="showMessage('Agregado a favoritos')">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-fab color="primary" type="button" (click)="showMessage('Agregado al carrito')">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
