.content-detail {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .price {
    font-size: 20px;
    font-weight: bold;
    color: #3f51b5;
  }

  .mat-card {
    flex: 1;
  }

  .actions {
    text-align: center;
    button {
      margin: 15px;
    }
  }

  .content-specification {
    margin-top: 30px;
    li {
      margin-bottom: 10px;
      font-size: 13px;
      span {
        font-weight: 600;
      }
    }
  }
}
