<mat-form-field appearance="outline" style="margin-bottom: -1.25em">
  <mat-label>Buscar</mat-label>
  <input matInput placeholder="" (keydown.enter)="searchFunction($event.target.value)">
</mat-form-field>
