/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


table {
  width: 100%;
}

.header-title {
  margin-bottom: 10px;
}

.block-container {
  position: relative;
  margin-bottom: 30px;
}

.block-table-container {
  position: relative;
  min-height: 100%!important;
  overflow: auto;
}

div.inline {
  display: inline-block;
}

div.pull-right {
  float: right;
}

div.vertical {
  vertical-align: middle;
  line-height: 4.5;
}

.mat-column-actions {
  flex: 0 0 25% !important;
  max-width: 14px !important;
}

mat-form-field {
  display: block!important;
}

.space-center {
  flex: 1 1 auto;
}

.buttons-content {
  display: flex;
}

.mat-bottom-sheet-container {
  overflow: hidden!important;
}
