<h2>Mantenimiento de productos</h2>

<lib-loader></lib-loader>

<div *ngIf="productModel">
  <mat-card class="header-title mat-elevation-z2">
    <div class="inline">

      <a mat-raised-button routerLink="/admin/productos">Atras</a>

    </div>
  </mat-card>

  <div style="display: flex; flex-flow: row wrap;">

    <mat-card class="block-container mat-elevation-z2" style="flex: 1">

      <mat-tab-group dynamicHeight>
        <mat-tab>

          <ng-template mat-tab-label>
            <mat-icon class="margin-tab-icon">info</mat-icon>
            Informacion
          </ng-template>

          <form (ngSubmit)="saveProduct()" [formGroup]="formDetail">

            <div class="flex-content">

              <div class="separator">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input formControlName="name" matInput>
                  <mat-error *ngIf="name.hasError('required')">
                    Ingrese el nombre de producto
                  </mat-error>
                </mat-form-field>

                <div class="flex-content">

                  <div class="separator-nopad">
                    <mat-form-field appearance="outline">
                      <mat-label>Codigo</mat-label>
                      <input formControlName="code" matInput>
                      <mat-error *ngIf="code.hasError('required')">
                        Ingrese el codigo del producto
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="separator-nopad">
                    <mat-form-field appearance="outline">
                      <mat-label>Precio</mat-label>
                      <input formControlName="price" matInput>
                      <mat-error *ngIf="price.hasError('required')">
                        Ingrese el precio del producto
                      </mat-error>
                      <mat-error *ngIf="price.hasError('pattern')">
                        Formato de precio incorrecto
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="flex-content">
                  <div class="separator-nopad">

                    <mat-form-field (click)="openSelector(1, 'Seleccion de marca')" appearance="outline"
                                    class="cursorSelector">
                      <mat-label>Marca</mat-label>
                      <input formControlName="idBrand" type="hidden">
                      <input class="cursorSelector" formControlName="brand" matInput readonly>
                      <mat-error *ngIf="brand.hasError('required')">
                        Seleccione una marca
                      </mat-error>
                    </mat-form-field>

                  </div>

                  <div class="separator-nopad">

                    <mat-form-field (click)="openSelector(2, 'Seleccion de categoria')" appearance="outline"
                                    class="cursorSelector">
                      <mat-label>Categoria</mat-label>
                      <input formControlName="idCategory" type="hidden">
                      <input class="cursorSelector" formControlName="category" matInput readonly>
                      <mat-error *ngIf="category.hasError('required')">
                        Seleccione una marca
                      </mat-error>
                    </mat-form-field>

                  </div>
                </div>
              </div>

              <div class="separator">
                <mat-form-field appearance="outline">
                  <mat-label>Descripcion</mat-label>
                  <textarea formControlName="description" matInput rows="11"></textarea>
                  <mat-error *ngIf="description.hasError('required')">
                    Ingrese la descripcion del producto
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="buttons-content">
              <span class="space-center"></span>
              <button [disabled]="formDetail.invalid" color="primary" mat-raised-button type="submit">Guardar
              </button>
            </div>

          </form>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="margin-tab-icon">image</mat-icon>
            Imagenes
          </ng-template>

          <div class="flex-content">
            <div class="imageContent separator">
              <img (click)="openUploader(1)" [src]="image" class="image">

              <div>
                <span *ngIf="productModel.image">{{productModel.image | split: ['/']}}</span>
              </div>
            </div>

            <div class="imageContent separator">
              <img (click)="openUploader(2)" [src]="imageDetail" class="image">
              <div>
                <span *ngIf="productModel.imageDetail">{{productModel.imageDetail | split: ['/']}}</span>
              </div>
            </div>
          </div>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="margin-tab-icon">list</mat-icon>
            Especificaciones
          </ng-template>

          <div class="contentTab">

            <div class="flex-content">
              <div class="separator">
                <mat-card class="mat-elevation-z2">
                  <lib-common-search (filter)="applyFilter($event)"></lib-common-search>

                  <table [dataSource]="dataSource" class="" mat-table
                         matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>

                    <ng-container matColumnDef="id">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header> #</th>
                      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header> Nombre</th>
                      <td *matCellDef="let element" mat-cell> {{element.title}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th *matHeaderCellDef mat-header-cell> Descripcion</th>
                      <td *matCellDef="let element" mat-cell> {{element.description}} </td>
                    </ng-container>

                    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row (click)="selectSpecification(row)" class="element-row"></tr>
                  </table>

                  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[4, 8]"
                                 showFirstLastButtons></mat-paginator>

                </mat-card>
              </div>

              <div class="separator">

                <form (ngSubmit)="saveSpecification(formDirective)" [formGroup]="formSpecification" #formDirective="ngForm">

                  <div class="flex-content">

                    <div style="margin: 0 15px; flex: 1;">

                      <h3>{{newSpecification ? 'Registro de especificacion': 'Actualizacion de especificacion'}}</h3>

                      <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input formControlName="title" matInput>
                        <mat-error *ngIf="titleSpecification.hasError('required')">
                          Ingrese el titulo de la especificacion
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <textarea formControlName="description" matInput rows="8"></textarea>
                        <mat-error *ngIf="descriptionSpecification.hasError('required')">
                          Ingrese la descripcion de la especificacion
                        </mat-error>
                      </mat-form-field>

                      <div class="buttons-content">
                        <button color="warn" *ngIf="!newSpecification" mat-raised-button type="button" (click)="cancelNewSubscription()">Cancelar</button>
                        <span class="space-center"></span>
                        <button [disabled]="formSpecification.invalid" color="primary" mat-raised-button type="submit">{{newSpecification ? 'Guardar': 'Actualizar'}}</button>
                      </div>
                    </div>

                  </div>


                </form>

              </div>
            </div>

          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card>
  </div>
</div>
