img {
  max-height: 200px;
}

.imageContent {
  text-align: center;
  padding: 20px;

  .image {
    cursor: pointer;
  }
}

.contentTab {
  padding: 20px;
}

.margin-tab-icon {
  margin-right: 8px;
}

.flex-content {
  display: flex;
  margin-bottom: 5px;

  .separator {
    flex: 1;
    padding: 20px;
  }

  .separator-nopad {
    flex: 1;
    padding: 0!important;
  }

  .separator-nopad:nth-child(1) {
      margin-right: 10px;
  }

  .separator-nopad:nth-child(2) {
    margin-left: 10px;
  }

  .cursorSelector {
    cursor: pointer;
  }
}


tr.element-row {
  cursor: pointer;
}

tr.element-row:hover {
  background: rgba(190, 196, 197, 0.28);
}
